<div>Created by Ironhackers</div>

<div class="ironhackers">

  <a href="https://www.linkedin.com/in/auderichon/"
     target="_blank">Aude Richon | <i class="fab fa-linkedin-in"></i></a>

  <a href="https://linkedin.com/in/audrey-belson-28382958"
     target="_blank">Audrey Belson | <i class="fab fa-linkedin-in"></i></a>

  <a href="https://www.linkedin.com/in/malamine-bah-219781196/"
     target="_blank">Malamine Bah | <i class="fab fa-linkedin-in"></i></a>

</div>