{{!-- <nav id="nav-main" class="nav">
    <a href="/" class="link">home </a>
    {{#if isLoggedIn}}
    <a href="/activity/update activity" class="link">Update activity</a>
    <a href="/activity/create-activity" class="link"> create activity</a>
    <a href="/admin">| <i class="fa fa-user fa-1x"></i></a>
    <a href="/auth/signout">| <i class="fas fa-sign-out-alt"></i></a>
    {{else}}
    <a href="/auth/signin" class="link">| <i class="fa fa-user fa-1x"></i></a>
    {{/if}}
</nav> --}}
{{!-- HEADER

{{!-- END HEADER --}}
<div class="big-container">
    <header class="header">
        <nav class="nav-wrapper flexed-item">
            <div class="nav-link-wrapper flexed-item">
                <div class="nav-logo">
                    <a href="/index" class="flexed-item">
                        <span class="logo-item circle"></span>
                        <h2 class="logo-item">SportTrip</h2>
                    </a>
                </div>

                <ul>
                    <li class="nav-item animated-link nav-item-admin">
                        <a href="/partials/pop-up" class="button">isLoggedIn</a>
                    </li>
                    {{!-- {{#if isLoggedIn}} --}}
                    {{!-- <li class="nav-item animated-link nav-item-admin">
                        <a href="/user/user-profile">Profile</a>
                    </li>
                    <li class="nav-item animated-link nav-item-admin">
                        <a href="/activity/create-activity">Create Activity</a>
                    </li>
                    <li class="nav-item animated-link nav-item-admin">
                        <a href="/activity/my-activity">My-Activity</a>
                    </li> --}}
                    {{!-- {{/if}} --}}
                {{!-- </ul>
            </div>
            <div class="flexed-item nav-end">
                {{!-- {{#unless isLoggedIn}} --}}
                {{!-- <a href="partials/signin" id="nav_login" class="button-ternary flexed-item nav-end-item">
                    <span class="btn-text">Sign in</span>
                </a> --}}
                {{!-- {{/unless}}
        {{#if isLoggedIn}} --}}
                {{!-- <a href="/index" id="nav_logout" class="button-ternary flexed-item nav-end-item">
                    <span class="btn-text">Log out</span>
                </a> --}}
                {{!-- {{/if}} --}}
                {{!-- <i class="fas fa-shopping-cart shop-cart-icon nav-end-item"></i>
            </div>
        </nav>
    </header>
</div>  
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
  </div>
</nav>