<nav id="nav-main" class="nav">
    <a href="/" class="link">home </a>
    {{#if isLoggedIn}}
    <a href="/activity/update activity" class="link">Update activity</a>
    <a href="/activity/create-activity" class="link"> create activity</a>
    <a href="/admin">| <i class="fa fa-user fa-1x"></i></a>
    <a href="/auth/signout">| <i class="fas fa-sign-out-alt"></i></a>
    {{else}}
    <a href="/auth/signin" class="link">| <i class="fa fa-user fa-1x"></i></a>
    {{/if}}
</nav>