<nav>
  <label class="logo">

  <a href="/">SportTrip</a>
  </label>
<ul>
 
  <li><a href="/activity/create">Create-activity</a></li>
   <li><a href="/user/activities">My-activity</a></li>
      <li><a href="/user-profile">Profile</a></li>
  <li><a href="/signup">Sign Up</a></li>
  <li><a href="">LogIn</a></li>
</ul>
</nav>