<nav>
  <label class="logo">

    <a href="/">SporTrip</a>
  </label>
  <ul>

    <li><a href="/activity/create">Create an activity</a></li>
    <li><a href="/user/activities/{{user._id}}">My Activities</a></li>
    <li><a href="/user/account/{{user._id}}">My account</a></li>
    <li><a href="/user/signup">Sign Up</a></li>
    <li><a href="">Log In</a></li>
  </ul>
</nav>