<nav class="nav">
  <label class="logo">
    <a href="/">SporTrip</a>
  </label>
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
    <i class="fas fa-bars"></i>
  </label>
  <ul>
    {{#if isLoggedIn}}

    <li>Hello {{currentUser.firstName}}</li>
    <li><a href="/activity/create">Create an activity</a></li>
    <li><a href="/user/activities/{{currentUser._id}}">My Activities</a></li>
    <li><a href="/user/account/{{currentUser._id}}">My account</a></li>
    <li><a href="/message">My messages</a></li>
     <li><a href="/auth/signout">log Out</a></li>
     {{else}}
    <li><a href="/auth/signup">Sign Up</a></li>
    <li><a href="/auth/signin">Log In</a></li>
    {{/if}}
  </ul>
</nav>