<div class="popup">
    <div class="popup-content">
        <h2>SportTrip</h2>
        <img src="/public/image/close.png" class="close">
        <input name="email" class="input" type="text" placeholder="email">
         <input name="password" class="input" type="password" placeholder="password">
         <a href="/user/user-profile" class="btn">LogIn</a>
    </div>
</div>