<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/index.css' />
  <script type="module" src="/public/script/popup.js"></script>
</head>

<body>
  {{> navMain}}
  {{> popup}}
  {{{ body }}}

</body>

</html>