<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='/stylesheets/index.css' />

  {{#if isLoggedIn}}
  <link rel='stylesheet' href='/stylesheets/chat.css' />
  <script type="module" src="/script/popup.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script type="module" src="/script/chat.js"></script>
  {{/if}}

  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <title>{{title}}</title>
</head>

<body>
  <header>
    {{> navMain}}
  </header>

  <main>

    <section>
      {{{ body }}}
    </section>
{{!-- 
    <section>
      {{> popup}}
    </section>
    {{#if isLoggedIn}}
    {{> chat_live}}
    {{/if}}
 --}}
  </main>

  <footer>

  </footer>

</body>

</html>