<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='/stylesheets/index.css' />
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script type="module" src="/script/filter.js"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  {{#each js}}
  <script type="module" src="/script/{{this}}.js"></script>
  {{/each}}
  <title>{{title}}</title>
</head>

<body>
  <header>
    {{> navMain}}
  </header>

  <main>

    <section>
      {{{ body }}}
    </section>

  </main>

  <footer id="footer">
    {{> footer}}
  </footer>

</body>

</html>