{{#compare currentUser._id user._id operator="=="}}
{{!-- SECURE THE ACCOUNT PATH --}}
<div class="container">

  <h2>{{user.firstName}}, do you really want to leave us ?</h2>

  <form class="form-all"
        action="/user/delete-account/{{user._id}}"
        method="post">
    <button class="btn-delete delete-acc" >Yes, delete my account</button>
  </form>

</div>

{{else }}
Forbidden path !
{{/compare}}