#form-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

form {
  width: 70%;
  display: flex;
  flex-direction: column;
}

form div {
  height: 60px;
}

.form-item {
  display: flex;
  flex-direction: column;
  height: 60px;
  margin-bottom: 15px;
  width: 100%;
  margin-right: 15px;
}

input,
select {
  height: 30px;
}

#activity-city {
  width: 200px;
}

#input-activity-city {
  margin-right: 30px;
}

label {
  padding: 5px 5px 5px 0;
}

.check-input-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: fit-content;
  width: 70%;
}

.input-small {
  width: 30%;
}

textarea {
  display: block;
  width: 100%;
  height: 110px;
  overflow: auto;
  line-height: 1.5;
  font-size: 14px;
}

#form-container button {
  width: 25%;
  align-self: center;
  height: 40px;
  margin-top: 20px;
  border-radius: 10px;
  background-color: var(--color-main);
  color: var(--color-secondary);
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 5%;
}

.checkbox {
  height: 15px;
  display: block;
}

.checkbox-label {
  width: fit-content;
  display: block;
  margin-left: 5px;
  line-height: 0.7rem;
  font-size: 0.8rem;
}

.checkbox-list {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.checkbox-group {
  align-items: center;
  height: fit-content;
  display: flex;
}

.check-input-row p {
  width: 30%;
  display: block;
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
}

.input-sports {
  display: flex;
  justify-items: space-between;
  align-items: baseline;
  height: fit-content;
  width: 100%;
}

#activity-sport {
  width: 100%;
}

.input-sports:first-child {
  width: 30%;
}

.input-sports:nth-child(2) {
  width: 60%;
  margin-left: 30px;
}

#user-strava {
  width: 50%;
}

.btn-delete {
  background: rgb(245, 191, 191);
  border: red 2px solid;
  border-radius: 10px;
  width: 40%;
  margin: 60px auto 20px;
  height: 30px;
}

.btn-delete a {
  color: red;
  text-align: center;
  display: block;
}
