@import "./variables.css";

nav {
  background-color: var(--color-main);
  height: var(--nav-height);
  width: 100%;
}

label.logo {
  font-size: 35px;
  line-height: 80px;
  padding: 0 50px;
  font-weight: bold;
}

label a {
  color: white;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,
a:hover {
  background-color: lightgrey;
  transition: 0.5s;
}

@media (max-width: 1000px) {
  nav ul li a {
    font-size: 0.8rem;
  }
}
