@import "./variables.css";

#home header {
  background-image: url("/images/home-pic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 40%;
  position: relative;
  height: 450px;
  top: 0;
}

h1 {
  font-size: 2.8rem;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 80%;
  text-align: center;
  background: rgba(0, 0, 0, 0.25);
  z-index: 1;
  color: var(--color-secondary);
}

#home-listing {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

#filters {
  width: 20%;
  max-width: 250px;
  height: 1000px; /*à changer quand on aura rempli les filtres */
  background-color: var(--color-main);
  padding: 10px 15px 10px;
  color: var(--color-secondary);
}

#filters h4 {
  font-weight: bold;
}

.activity-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  width: 80%;
  padding: 0 3% 0;
}

.each-activity {
  border: var(--color-main) 1px solid;
  padding: 5px;
  width: 100%;
  height: fit-content;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

.each-activity img {
  max-width: 100%;
  max-height: 100%;
}

.time {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
}

.time p {
  display: block;
}

.activity-creator {
  margin-bottom: 5%;
  display: flex;
  justify-content: space-between;
}

.activity-creator img {
  width: 25%;
  border-radius: 50%;
  border: var(--color-main) 1px solid;
}

.activity-button {
  color: var(--color-secondary);
  background-color: var(--color-main);
  padding: 5px 10px 5px;
  width: 50%;
  align-self: center;
  text-align: center;
  border-radius: 5px;
}

.activity-button a {
  color: var(--color-secondary);
}

@media (max-width: 1000px) {
  #home header {
    height: 350px;
  }
  .activity-list {
    grid-template-columns: repeat(2, 1fr);
  }
  h1 {
    top: 40%;
  }
}

@media (max-width: 750px) {
  .activity-list {
    grid-template-columns: 1fr;
  }
  h1 {
    font-size: 2rem;
    top: 50%;
  }
}
