.message-content {
  border-radius: 10px;
  border: 1px solid var(--color-main);
  padding: 10px 5px 10px;
  width: fit-content;
}

.message-sender {
  font-weight: bold;
  margin-top: 10px;
}

#conv-page {
  width: 90%;
  margin: 20px auto 20px;
}

.message-content.yellow {
  background-color: rgb(248, 247, 177);
}

.message-content.green {
  background-color: rgb(216, 250, 216);
}

.with-whom {
  font-weight: bold;
}

.message-sender span {
  font-weight: normal;
  font-size: small;
}

.conv-per-user {
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--color-main);
}

.conv-block {
  width: 150%;
  max-height: 350px;
  overflow: auto;
  margin-bottom: 40px;
  margin-top: 10px;
}

.other-user {
  margin-left: 50px;
}
