@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
@import "./variables.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  padding: var(--padding-body);
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  color: var(--color-main);
  min-height: 95vh;
  margin: auto;
  position: relative;
}

a {
  color: #00b7ff;
}

h3 {
  margin: 20px 0 20px;
}

h2 {
  margin: 30px 10px 20px;
}

header,
main,
body {
  top: var(--padding-body);
}

.container {
  margin: 50px auto 50px;
  width: 90%;
  min-height: calc(100vh - var(--nav-height) - var(--footer-height) - 100px);
}

.container.sign {
  height: 90vh;
  position: relative;
}

.container.sign button {
  position: absolute;
  bottom: 50%;
}

button {
  cursor: pointer;
}
