
#message-container{
    width: 70%;
    max-width: 1200px;
}
#message-container div{
    background-color: aqua;
    padding: 5px;
}
#message-container div:nth-child(2n) {
    background-color: #FFF;
  }

#send-container {
    position: fixed;
    padding-bottom: 30px;
    bottom: 0;
    background-color: white;
    max-width: 1200px;
    width: 80%;
    display: flex;
  }

  #message-input {
    flex-grow: 1;
  }
